################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api.Movies/.vs/Api.Movies
/Api.Movies/obj
/Movies/.vs/Movies
/Movies/obj
