################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api.Movies/.vs/Api.Movies
/Api.Movies/obj
/Movies/.vs/Movies
/Movies/obj
/Movies/bin/Debug/net8.0
/Movies.Teste/bin/Debug
/Movies.Teste/obj/Debug
/Movies.Teste/.vs/Movies.Teste
/AngularMovies/.vscode
/Movies.Teste/Movies.Teste/bin/Debug/net8.0
/Movies.Teste/Movies.Teste/obj
/Movies1.Teste/.vs/Movies.Teste
/Movies1.Teste/bin/Debug
/Movies1.Teste/obj/Debug
/Movies1.Teste/packages/Newtonsoft.Json.13.0.3
