################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api.Movies/.vs/Api.Movies
/Api.Movies/obj
/Movies/.vs/Movies
/Movies/obj
/Movies/bin/Debug/net8.0
/Movies.Teste/bin/Debug
/Movies.Teste/obj/Debug
/Movies.Teste/.vs/Movies.Teste
